* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #efeef3;
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

header {
  nav {
    display: flex;
    margin: 0 0 10px 15px;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      margin: 0 0 10px 0;
      align-items: center;
      font-size: 1.2rem;
    }

    img {
      width: 12rem;

      @media only screen and (max-width: 1380px) {
        width: 8rem;
      }
      @media only screen and (max-width: 1150px) {
        width: 5rem;
      }

      @media only screen and (max-width: 900px) {
        width: 18rem;
        margin: 20px 0;
      }

      @media only screen and (max-width: 480px) {
        width: 12rem;
      }
    }
    ul {
      width: 100%;
      display: flex;
      margin: 10px 0 0 40px;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.8rem;

      @media only screen and (max-width: 1880px) {
        font-size: 1.4rem;
      }
      @media only screen and (max-width: 1380px) {
        font-size: 1.3rem;
      }

      @media only screen and (max-width: 1260px) {
        font-size: 1rem;
      }

      @media only screen and (max-width: 1040px) {
        font-size: 0.8rem;
      }

      @media only screen and (max-width: 900px) {
        flex-direction: column;
        margin: 0 20px 10px 20px;
        align-items: center;
        font-size: 1.6rem;
      }
      @media only screen and (max-width: 480px) {
        font-size: 1.2rem;
      }

      li {
        @media only screen and (max-width: 900px) {
          margin: 10px 0 10px 0;
        }
      }
      a {
        text-decoration: none;
        color: #000;

        &:hover {
          color: #d82594;
        }
      }
    }
  }
}

.imagem-topo {
  img {
    width: 100%;

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
}

.informacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;

  @media only screen and (max-width: 1075px) {
    flex-direction: column;
  }

  .imagem-produtos {
    img {
      width: 32rem;
      margin-right: 2rem;

      @media only screen and (max-width: 1075px) {
        width: 80vw;
        margin: 0 2rem 4rem 2rem;
      }
    }
  }

  .informacao-produtos {
    width: 40rem;
    text-align: center;

    @media only screen and (max-width: 1075px) {
      width: 70vw;
      margin: 0 1rem 2rem 1rem;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 1.3rem;
      font-weight: 500;

      @media only screen and (max-width: 480px) {
        font-size: 2rem;
      }
    }
  }
}

.produtos {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem 3rem 5rem;
  flex-wrap: wrap;
  align-items: center;

  @media only screen and (max-width: 1210px) {
    flex-direction: column;
    margin: 0 2rem 3rem 2rem;
  }

  h3 {
    width: 30vw;
    font-weight: 500;
    font-size: 30px;

    font-size: 2.5rem;

    @media only screen and (max-width: 1210px) {
      width: 70vw;
      text-align: center;
      margin: 1rem 0 4rem 0;
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 480px) {
      font-size: 2rem;
      width: 80vw;
    }
  }

  ul {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 1210px) {
      width: 70vw;
      flex-wrap: wrap;
      margin: 0 0 3rem 0;
      gap: 2rem;
    }
    img {
      margin: 0 1.5rem 0 1.5rem;
    }
  }
}
